* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* #region debug */
.debug body {
    background-color: rgb(0, 26, 255);
}

.debug * {
    border: 1px dashed red;
}


.debug .card {
    width: 450px;
    height: 700px;
    background-color: blueviolet;
    margin: 1rem;
}

.debug footer {
    height: 100px;
    background-color: black;
    color: white;
}


/* #endregion debug */


/* #region utility */

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

/* #endregion utility */


/* #region header */

header {
    height: 70px;
    background-color: #ff6900;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 10px 0;
}

header ul,
nav ul {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

header i,
nav a {
    text-decoration: none;
    color: white;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

header img {
    max-height: 40px;
}


/* #endregion header */


/* #region card */

main .d-flex {
    flex-wrap: wrap;
}


/* #endregion card */